.containerBox {
  margin-top: 64px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.paper {
  padding: 32px;
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  border-radius: 16px;
}

.title {
  margin-bottom: 24px;
}

.alert {
  width: 100%;
  margin-bottom: 16px;
}

.formBox {
  width: 100%;
}

.submitBtn {
  margin-top: 24px;
  margin-bottom: 16px;
  padding-top: 12px;
  padding-bottom: 12px;
}

.linkBtn {
  margin-top: 8px;
}


